.l-container{
    display: flex;
    width: 100%;
    // height: 100px;
    padding: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #D54974;
    transition: all 0.5s ease;
    align-items: center;
}

.profile{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1100px) {
        width:15%;
    }
    @media screen and (max-width: 600px) {
        width:20%;
    }
    @media screen and (max-width: 400px) {
        width:20%;
    }
    
}

.prof-container{
    width:100%;
    // height: 100%;
    border-radius: 82% 18% 57% 43% / 31% 63% 37% 69% ;
    box-shadow: 1px 0px 4px 1px #0000007a;
    padding: 2px;
    transition: all 0.5s ease;
    // border: 4px solid transparent; /* Create space for the border */
    background: linear-gradient(45deg, #D54974, #eee38e6c); /* Gradient definition */
    background-clip: padding-box; /* Clip the background to the padding box */
    -webkit-background-clip: padding-box; /* For WebKit browsers */
}

.prof-img{
    width: 100%;
    display: block;
    transition: all 0.5s ease;
    border-radius: 82% 18% 57% 43% / 31% 63% 37% 69% ;
    
}

@keyframes scroll-list{

    from{
        // color: rgb(0, 0, 0);
        background-size: 0% 100%;
        background-image: linear-gradient(90deg, #d54973, #D54974);
    }
    to{
        background-size: 100% 100%;
        // color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(90deg, #d54973, #D54974);
        // background-color: #d54973;
    }
}
@keyframes scroll-role{

    from{
        // color: rgb(0, 0, 0);
        background-size: 0% 100%;
        background-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0))
    }
    to{
        background-size: 100% 100%;
        // color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(90deg, rgb(0, 0, 0),  rgba(0, 0, 0, 0.938));
        // background-color: #d54973;
    }
}

.l-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 15px;
    width: 100%;
}

.list-name{
    font-size: var(--font-medium);
    font-weight: 600;
    
    background-image: linear-gradient(90deg, #eee38e, #eee38e);
    background-repeat: no-repeat;
    background-clip: text;
    background-size: 100% 100%;
    color: #eee38e00;
    @media screen and (max-width: 900px) {
        font-size: var(--font-large);
    }
    
    @media screen and (max-width: 400px) {
        font-size: var(--font-medium);
    }
    
    // animation-timeline: view();
    // animation-range: entry 0% cover 100%;
}

.role{
    font-size: var(--font-small);
    font-weight: 500;
    color: #d9d9d900;
    background-image: linear-gradient(90deg, #D9D9D9, #D9D9D9);
    background-repeat: no-repeat;
    background-clip: text;
    background-size: 100% 100%;
    @media screen and (max-width: 900px) {
        font-size: var(--font-medium);
    }
    @media screen and (max-width: 400px) {
        font-size: var(--font-small);
    }
    // text-transform: ;
}


.l-container:hover{
    background-color: #D9D9D9;
    // box-shadow: inset 0px 0px 4px 1px white;
}
.l-container:hover .list-name{
    background-size: 0% 100%;
    color:#d5497323;
    background-image: linear-gradient(90deg, #eee38e00, #eee38e00);
    animation: scroll-list 4s forwards;
    @media screen and (max-width: 1100px) {
        animation: scroll-list 2s forwards;
    }
    @media screen and (max-width: 600px) {
        animation: scroll-list 1.5s forwards;
    }
}
.l-container:hover .role{
    color: rgba(0, 0, 0, 0);
    animation: scroll-role 3s forwards;
    @media screen and (max-width: 1100px) {
        animation: scroll-role 1.5s forwards;
    }
    @media screen and (max-width: 600px) {
        animation: scroll-role 1s forwards;
    }
}
.l-container:hover .prof-img{
    border-radius: 36% 64% 44% 56% / 55% 71% 29% 45% ;
}

.l-container:hover .prof-container{
    background: linear-gradient(90deg, #D54974 40%, #9C98BD 80%);
    border-radius: 36% 64% 44% 56% / 55% 71% 29% 45% ;
    box-shadow: 20px 2px 20px 0px #9c98bd, -7px 1px 20px 0px #d54973;
    // padding: 4px;
}


.f-button{
    // opacity: 0;
    width: 5%;
    height: min-content;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in 0.2ms;
    
    margin-left: 10px;
    margin-right: 10px;
    @media screen and (max-width: 1100px) {
        width:10%;
    }
    @media screen and (max-width: 600px) {
        width:12%;
    }
    @media screen and (max-width: 400px) {
        width:15%;
    }
}

.f-button img{
    width: 100%;
    height: 100%;
    // object-fit: cover;
    display: block;
    transition: all 0.5s ease;
    border-radius: 50%;
    background-color: #D54974;
}
.l-container:hover .f-button img{
//  opacity: 1;
 background-color: #9c98bd;
 transform: rotate(360deg);
 box-shadow: 0px 0px 6px 2px #d549738f;
}