$font-xSmall: 12px;
  $font-small: 20px;
  $font-medium: 24px;
  $font-large: 60px;
  $font-xlarge: 80px;

  @media screen and (max-width: 1500px){
    $font-xSmall: 12px;
    $font-small: 20px;
    $font-medium: 24px;
    $font-large: 48px;
    $font-xlarge: 52px;
  }


  @media screen and (max-width: 900px){
    $font-xSmall: 12px;
    $font-small: 12px;
    $font-medium: 12px;
    $font-large: 24px;
    $font-xlarge: 24px;
  }

  .navigate-button{
    width: fit-content;
  }

.navigate-button button{
    background: none; /* Removes default background */
    border: none; /* Removes default border */
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    outline: none; /* Removes default focus outline */
    box-shadow: none; /* Removes any default shadows */
    font: inherit; /* Ensures it inherits font styles from parent */
    color: inherit; /* Ensures it inherits color from parent */
    cursor: pointer; /* Ensures it still behaves like a button */
    margin-left: 5px;
}

.navigate-button button{
    width: max-content;
    padding: 10px;
    background: #7163DE;
    border: 1px solid #201D06;
    box-shadow: 3px 6px 0px 1px black;
    color: #FFFFFF;
    font-size: var(--font-small);
    font-weight: 600;
    @media screen and (max-width: 1100px) {
      padding: 8px;
      font-size: var(--font-small);
      box-shadow: 2.5px 2px 0px 1px black;
    }
}

.navigate-button button:hover{
    box-shadow: 1px 3px 0px 1px black;
    transform: translate3d(2px, 2px, 0px);
    @media screen and (max-width: 1100px) {
      box-shadow: 1px 1px 0px 1px black;
    }
}