
.h-container{
    width: 100%;
    height: 250vh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    // position: relative;
    // top: 0;
}
.h-grid{
    grid-area: 1/1;
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ace{
    // scale:0.5;
    position: absolute;
    transform: translate(-50% -50%);
    top:50%;
    left: 100%;
    opacity: 1;
    width: 200px;
    height: 200px;
    will-change: transform;
}

.ace path{
    stroke: #9489fa41;
    fill: #ff6dce7d;
    // width: 100%;
}

.h-wrapper{
    position: absolute;
    top: 0;
    width: 400vw;
    height: 100vh;
    transform: translateY(0);
    will-change: transform;
    grid-area: 1/1;
    z-index: 2;
    @media screen and (max-width: 1250px) {
        padding-top: 20em;
    }
    @media screen and (max-width: 900px) {
        padding-top: 20em;
    }
    @media screen and (max-width: 400px) {
        padding-top: 15em;
    }
}

.h-card{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 19px 1px #000000b5;
    @media screen and (max-width: 1250px) {
        width: 200px;
        height: 200px;
    }
    @media screen and (max-width: 600px) {
        width: 150px;
        height: 150px;
    }
}

#h-card1{
    top:50%;
    left: 20%;
    background: rgb(213, 238, 255);
}
#h-card2{
    top: 25%;
    left: 40%;
    background: rgb(175, 143, 250);
}
#h-card3{
    top:45%;
    left: 60%;
    background: rgb(251, 149, 255);
}
#h-card4{
    top: 15%;
    left: 80%;
    background: rgb(172, 149, 255);
}

.h-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h-heading{
    width: 100%;
    font-size: 35vw;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    margin: 0;
    color: #7163DE;
    font-family: 'Euphorigenic', sans-serif;
}

.outro{
    position: absolute;
    top: 150vh;
    width: 100%;
    height: 100vh;
    z-index: 3;
    @media screen and (max-width:1250px) {
        top:150vh
    }
    @media screen and (max-width:600px) {
        top:150vh
    }
}

.outro h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: var(--font-large);
    font-weight: 600;
    text-align: center;
    padding: 1em;
    font-family: 'Euphorigenic', sans-serif;
    // letter-spacing: 2px;
    @media screen and (max-width:1200px) {
        font-size: var(--font-xlarge);
    }
    @media screen and (max-width:500px) {
        font-size: var(--font-xlarge);
    }
}

.outro h3 .outro-span{
    color: rgba(255, 255, 255, 0.171);
    background-image: linear-gradient(to right, #f4f9e9,#f5bbbb);
    background-size: 0% 100%;
    background-clip: text;
    
    background-repeat: no-repeat;
    margin-bottom: 20px;
    // font-family: 'Euphorigenic', sans-serif;
}

.outro-span.bold{
    font-family: 'Euphorigenic', sans-serif;
    font-size: var(--font-xlarge);
    // background-image: linear-gradient(to right, #f5bbbb,#f5bbbb);
    font-weight: 600;
    // text-wrap: nowrap;
    // background-clip: text;
    // background-repeat: no-repeat;
    // text-decoration: underline;
    // text-decoration-line: underline;
    // text-decoration-style: ;
    // background-clip:padding-box;
    // color: #00000000;
    background-size: 0% 100%;
    background-clip: text;
    
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.space{
    // margin-bottom: 20px;
    display: block;
    height: 20px;
}