.pop-up{
    width: 100%;
    height: 100%;
    // min-height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.938), rgb(0, 0, 0));
    z-index: 99999;
    // position: relative;
    display: flex;
    // grid-column: 1/1;
    // grid-row: 1/1;
    position: fixed;
    top:0;
    left:0;
    max-height: 100svh;
    max-height: 100vh;
    animation: open 0.5s linear forwards;
    @media screen and (max-width:1200px) {
        background: linear-gradient(to top, rgb(0 0 0 / 96%), rgb(0, 0, 0));
    }
}

.disabled{
    opacity: 0;
    pointer-events: none;
}

@keyframes open {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.p-wrapper{
    width: 100%;
    height: 100%;
}


.pop-carousel{
    padding: 25px 50px 0px 50px;
    width: 100%;
    height: 100%;
    @media screen and (max-width:1500px) {
        padding: 0px 15px;
    }
    @media screen and (max-width:1100px) {
        padding: 0px 15px;
    }
}

.pop-wrapper{
    width: 100%; /* Spacing between rows */
    // text-align: center;
    // max-width: 800px;
    /* Center the container horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
}

.p-heading{
    color: white;
    font-size: var(--font-large);
    display: flex;
    width: 100%;
    padding: 25px 50px 0px 50px;
    align-items: center;
    @media screen and (max-width:1600px) {
        // padding: 15px;
        font-size: var(--font-medium);
    }
    @media screen and (max-width:1500px) {
        padding: 15px;
        font-size: var(--font-medium);
    }
}

.pop-name{
    width: min-content;
    text-wrap: nowrap;
    font-weight: 600;
    margin-right: auto;
    font-size: var(--font-large);
    // font-size: var(--font-large);
    @media screen and (max-width:1250px) {
        font-size:clamp(18px, 2vw, 40px);
    }
}

.close{
    margin-left: auto;
    // width: 2rem;
    // height: 2rem;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    // border-radius: 50%;
    color: rgb(255, 255, 255);
    // background-color: white;
    opacity: 0.5;
    transition: opacity 0.5s ease;
    // font-size: var(--font-large);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover{
    opacity: 1;
}
.close:active{
    opacity: 1;
}

.pagers{
    display: flex;
    width: 100%;
    font-size: var(--font-medium);
    font-weight: 500;
    
    padding: 0px 50px 50px;
    margin-top: auto;
    @media screen and (max-width:1500px) {
        padding: 15px;
    }
    @media screen and (max-width:1100px) {
        padding: 20px 15px;
        border-top: 1px solid white;
        
    }
}

.p-right{
    margin-left: auto;
}

.p-right, .p-left{
    text-wrap: nowrap;
    color: rgba(255, 255, 255, 0.281);
    cursor: pointer;
    transition: color 0.5s ease;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;

}
.right-name, .left-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    @media screen and (max-width:900px) {
        font-size: var(--font-large);
        border-bottom: 1px solid rgba(255, 255, 255, 0.452);
    }
    @media screen and (max-width:400px) {
        font-size: var(--font-medium);
    }
}
@media screen and (min-width: 1100px) {
    .p-right:hover, .p-left:hover{
        color: white;
    }
    .right-name:hover img, .left-name:hover img{
        // color: white;
        opacity:1;
    }
}

.p-right:active, .p-left:active{
    text-wrap: nowrap;
    color: white;
}

.p-right .right-name img, .p-left .left-name img{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    opacity: 0.7;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid white;
    @media screen and (max-width:900px) {
        display: none;
    }
    
}

// .p-right .right-name img{
    // border-radius: 0% 100% 100% 0% / 47% 47% 53% 53%;
// }