


.c-wrapper{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 60px;
    // min-height: 100vh;
    // max-height: 100%;
    @media screen and (max-width:1500px) {
        padding: 20px 40px 40px;
    }
    @media screen and (max-width:900px) {
        padding: 10px 17.5px;
        // min-height: 80vh;
    }
    // @media screen and (max-width:900px) {
        
    // }
}

@keyframes Left {
    from{
        transform: translateX(-400px);
        opacity:0;
    }

    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

.c-t-wrapper{
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    overflow: clip;
    contain: paint;
    box-shadow: 2px 2px 19px 1px #000000b5;
    border-radius: 20px;
    animation: Left 0.5s linear forwards;
    margin-bottom: auto;
}

.c-wrapper .schedule-button {
    margin-top: 40px;
    margin-bottom: 40px;
    @media screen and (max-width:900px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.c-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 15px;
    border-radius: 20px;
    border: 4px solid;
    grid-area: 1/1;
    z-index: 2;
    @media screen and (max-width:1250px) {
        border: 2px solid;
    }

}

@keyframes mail {
    to{
        transform: rotate(45deg) translate3d(0px, 500%, 0px);
        scale: 1.5;
        opacity: 0.5;
    }
}
@keyframes mail2 {
    to{
        transform: rotate(45deg) translate3d(-300px, 500%, 0px);
        scale: 2;
        opacity: 1;
    }
}
@keyframes mail3 {
    to{
        transform: rotate(45deg) translate3d(-200px, 500%, 0px);
        scale: 1;
        opacity: 0;
    }
}

@media screen and (max-width: 900px) {
    @keyframes mail {
        to{
            transform: rotate(45deg) translate3d(0px, 500%, 0px);
            scale: 0.3;
            opacity: 0.5;
        }
    }
    @keyframes mail2 {
        to{
            transform: rotate(45deg) translate3d(-300px, 500%, 0px);
            scale: 0.5;
            opacity: 1;
        }
    }
    @keyframes mail3 {
        to{
            transform: rotate(45deg) translate3d(-200px, 500%, 0px);
            scale: 0.2;
            opacity: 0;
        }
    }
}

.top-bg{
    grid-area: 1/1;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #7163DE;
    background-image: linear-gradient(89deg, #7d71db, transparent);
}

.bg-container{
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0;
    transform: rotate(45deg) translate3d(0px, -200%, 0px);
    animation: mail 6s linear infinite;
    animation-name: 1s;
}
.bg-container2{
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0;
    transform: rotate(45deg)translate3d(0px, -200%, 0px);
    opacity: 0;
    animation: mail2 7s linear infinite;
    animation-name: 1s;
}
.bg-container3{
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0;
    scale: 0.5;
    transform: rotate(45deg)translate3d(0px, -200%, 0px);
    animation: mail3 5s ease-in-out infinite;
    animation-name: 1s;
}

.bg-container .contact-img path,
.bg-container2 .contact-img path,
.bg-container3 .contact-img path{
    fill: #f9f9f9;
}

.bg-container2{
    scale: 0.5
}

.c-head{
    font-size: var(--font-xlarge);
    font-weight: 500;
    text-wrap: nowrap;
    // margin-bottom: 62px;
    color: #f9f9f9;
    @media screen and (max-width: 900px) {
        flex-wrap: wrap;
        // margin-bottom: 20px;
    }
}

.c-colour{
    font-weight: 600;
    // background: linear-gradient(to top, #9C98BD 40%, #e74d3c00 40%);
}

.c-desc{
    font-size: var(--font-medium);
    font-weight: 500;
    color:#f9f9f9;
    margin-top: 12px;
    // text-align: center;
    margin-bottom: 124px;
    // margin-left: auto;
    margin-right: auto;
    // width: max-content;
    // background: linear-gradient(to top, #9C98BD 40%, #e74d3c00 40%);
    @media screen and (max-width: 1250px) {
        margin-bottom: 60px;
    }
    @media screen and (max-width: 1000px) {
        margin-bottom: 40px;
    }
    @media screen and (max-width: 600px) {
        margin-bottom: 20px;
    }
    @media screen and (max-width: 900px) {
        flex-wrap: wrap;
        font-size: var(--font-medium);
        // margin-bottom: 80px;
    }
}

.c-bottom{
    display: flex;
    flex-direction: column;
    // height: 40vh;
    width: 100%;
    // min-height: 100%;
    margin-top: auto;
    // margin-bottom: auto;
    @media screen and (max-width: 1000px) {
        // margin-top: 100px;
        margin-bottom: auto;
    }
}

.contact{
    color:#000000;
    font-weight: 600;
    font-size: var(--font-xlarge);
    width: min-content;
    text-wrap: nowrap;
    text-align: center;
    margin-bottom: 100px;
    background: linear-gradient(to top, #9C98BD 40%, #e74d3c00 40%);
    @media screen and (max-width: 1250px) {
        margin-bottom: 60px;
    }
    @media screen and (max-width: 1000px) {
        margin-bottom: 40px;
    }
    @media screen and (max-width: 600px) {
        font-size: var(--font-xlarge);
        margin-bottom: 20px;
    }
}

.contact-info{
    display: flex;
    flex-wrap: wrap;
    // margin: auto;
    height: 100%;
    justify-content: space-evenly;
    font-size: var(--font-small);
    font-weight: 500;
    width: 100%;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.list-heading{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.lists-head{
    font-size: var(--font-large);
    font-weight: 600;
    color: #7163DE;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: underline;
    line-height: normal;
}

.c-list-wrapper{
    @media screen and (max-width:450px) {
        margin-bottom: 20px;
    }
}

.c-list-wrapper, .location-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.contact-info ul{
    list-style-type: none;
}

.c-info li, .c-location li{
    margin-top: 10px;
    font-size: var(--font-medium);
    border-bottom: 2px solid;
    @media screen and (max-width:900px){
        width: 100%;
        border-bottom: 2px solid;
    }
    @media screen and (max-width:500px){
        width: 100%;
        border-bottom: 2px solid;
    }
}


.contact-info .c-socials{
    display: flex;
    margin-top: auto;
    list-style-type: none;
    // width: 40px;
    // height: 40px;
    @media screen and (max-width:1200px) {
        // width: 50px;
        // height: 50px;
        margin-top: 50px;
    }
    @media screen and (max-width:450px) {
        // width: 40px;
        // height: 40px;
        // margin-top: 50px;
        margin-right: auto;
    }
}

.contact-info .social{
    width: 40px;
    height: 40px;
    margin-right: auto;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    // transition: backdrop-filter 0.5s ease, box-shadow 1s ease, border 0.5s ease, scale 0.2s ease;
    @media screen and (max-width:1200px) {
        width: 30px;
        height: 30px;
        // margin-right: ;
    }
    @media screen and (max-width:450px) {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}



.tag{
    font-weight: 600;
}

.c-socials{
    display: flex;
}

.contact-info ul .social{
    background-color: black;
}