$font-xSmall: 12px;
  $font-small: 20px;
  $font-medium: 24px;
  $font-large: 60px;
  $font-xlarge: 80px;

  @media screen and (max-width: 1500px){
    $font-xSmall: 12px;
    $font-small: 20px;
    $font-medium: 24px;
    $font-large: 48px;
    $font-xlarge: 52px;
  }


  @media screen and (max-width: 900px){
    $font-xSmall: 12px;
    $font-small: 12px;
    $font-medium: 12px;
    $font-large: 24px;
    $font-xlarge: 24px;
  }



.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    // padding: 23.5px 60px 23.5px 60px;
    transition: transform 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
    background-color: transparent;
    z-index: 999;
    @media screen and (max-width: 1100px) {
      // padding: 10px 17.5px;
      flex-direction: column;
    }

&.header-hidden {
    transform: translateY(-100%);
  }

  &.header-blur {
    background-color: #fff9e380;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &.header-transparent {
    background-color: transparent;
    box-shadow: none;
  }
}

.nav-wrapper{
  width: 100%;
  display: flex;
  padding: 23.5px 60px 23.5px 60px;
  @media screen and (max-width: 1100px) {
    padding: 10px 40px;
    justify-content: space-between;
  }
  @media screen and (max-width: 900px) {
    padding: 10px 17.5px;
    justify-content: space-between;
  }
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1100px) {
      display: none;
    }
}

.header .logo{
    width: 175px;
    display: block;
    @media screen and (max-width: 1100px) {
      width: 100px;
    }
}

.header-logo{
    width: 100%;
}

.nav ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
    margin-left: auto;
    font-size: var(--font-small);
    font-weight: 500;
}

.nav ul li:hover{
  color: #D54974;
}

.mob-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 888;
  @media screen and (min-width: 1100px) {
    display:none;
  }
}

.nav-list{
  position: sticky;
  top:0;
  z-index: 1000;
  width: 100%;
  z-index: 888;
  @media screen and (min-width: 1100px) {
    display:none;
  }
}


.nav-list ul{
  list-style-type: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  height: 100%;
  background: #d54973;
  // backdrop-filter: blur(10px);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0), inset 0px 0px 2px 1px #00000000;
  border: 1px solid #201D06;
  height: max-content;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out 0.1s, box-shadow 1s ease-in-out, opacity 1s;
  opacity: 0;
  z-index: 888;
  // display: none;
}
.nav-list.open ul{
  list-style-type: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  height: 100%;
  background: #d54973;
  // backdrop-filter: blur(10px);
  box-shadow: 1px 4px 0px 1px rgb(0 0 0 / 46%), inset 1px 2px 2px 1px #000000a1;
  border: 1px solid #201D06;
  height: max-content;
  transform: translateX(0px);
  opacity: 1;
  // display: block;
}

// .nav-list.open ul{
//   list-style-type: none;
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   align-items: end;
//   width: 100%;
//   height: 100%;
//   background: #d54973;
//   // backdrop-filter: blur(10px);
//   box-shadow: 1px 4px 0px 1px rgb(0 0 0 / 46%), inset 1px 2px 2px 1px #000000a1;
//   border: 1px solid #201D06;
//   height: max-content;
//   transform: translateX(0px);
// }

.nav-list ul li{
padding: 10px;
color: #FFFFFF;
font-size: var(--font-small);
font-weight: 600;
border-bottom: 1px solid #201D06;
width: 100%;
text-align: right;
text-shadow: 1px 1px black;
box-shadow: inset 0px 0px 0px 0px #00000000;
transition: transform 0.3s ease-in-out 0.1s, box-shadow 1s ease-in-out;
}
.nav-list.open ul li{
padding: 10px;
color: #FFFFFF;
font-size: var(--font-small);
font-weight: 600;
border-bottom: 1px solid #201D06;
width: 100%;
text-align: right;
text-shadow: 1px 1px black;
box-shadow: inset 2px 2px 0px 0px #000000cf;
// transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.5s ease-in-out;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 50px;
  height: 42px;
  padding: 7px;
  margin: 0px 0 0 12px;
  position: relative;
  z-index: 9999;
}


/* Lines inside the button */
.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  // border-radius: 1px;
  transition: all 0.3s ease-in-out;
}

/* Initial state */
.menu-btn span:nth-child(1) {
  width: 100%;
}
.menu-btn span:nth-child(2) {
  width: 100%;
}
.menu-btn span:nth-child(3) {
  width: 70%;
}

/* Active state */
.menu-btn.active span:nth-child(1) {
  width: 70%; /* Top becomes the shortest */
}
.menu-btn.active span:nth-child(2){
  width: 100%;
}
.menu-btn.active span:nth-child(3) {
  width: 100%; /* Middle and bottom become the longest */
}