.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    background: #C1BBF5;
    border: 2px solid black;
    position: relative;
    overflow: clip;
    & *{
        font-family: "Euphorigenic";
    }
}

.gear-container {
    position: absolute;
    width: min-content;
    height: 100%;
    transform: translate(-49px, -10px);
    scale: 1.3;
    animation: rotateGear 20s linear infinite; /* Add animation */
}

@keyframes rotateGear {
    0% {
        transform: translate(-49px, -10px) rotate(0deg); /* Start at 0 degrees */
    }
    100% {
        transform: translate(-49px, -10px) rotate(360deg); /* Rotate 360 degrees */
    }
}

svg, path{
    width: min-content;
    height: 100%;
    fill: #7163DE;
}

.footer-container{
    padding: 2em 4em;
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    // @media screen and (max-width:1000px) {
    //     grid-template-columns: 1fr 1fr;
    //     grid-template-rows: auto max-content;
    //     row-gap: 10px;
    // }
}

.footer-logo{
    width: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: max-content;
    grid-auto-columns: 1fr;
    gap:15px 15px;
}

.main-logo{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 100%;
}

.logos{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    // border: 2px solid #C1BBF5;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 8px 6px #00000059;
}

.logos.reads{
    width: 100%;
    border: 0px solid #C1BBF5;
    border-radius: 0%;
    overflow: hidden;
    height: 150px;
}

.members{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-template-rows: max-content;
    height: fit-content;
    gap: 20px;
    width: fit-content;
    background-color: #c1bbf5;
    padding: 2em;
    border-radius: 20px;
}

.logos img{
    width: 100%;
    object-fit: contain;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.footer-nav{
    height: fit-content;
}


.footer-nav ul{
    display: grid;
    grid-auto-flow: row;
    list-style-type: none;
    align-items: start;
    justify-content: space-between;
    // height: 100%;
    font-size: var(--font-medium);
    font-weight: 700;
    grid-auto-rows: max-content;
    gap: 15px;
}

.footer-social{
    @media screen and (max-width:1000px) {
        // grid-row: 2;
        // grid-column-start: 1;
        // grid-column-end: 3;
    }
}

.footer-social ul{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: auto;
    gap: 20px;
    // max-width: 144px;
}

.footer-social a{
    width: 100%;
    height: 100%;
}

.footer-social ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
}

.social{
    width: 100%;
    // margin-right: 27px;
}

.social-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1250px){
    .footer-container{
        padding: 2em 4em;
        width: 100%;
        display: grid;
        // justify-content: space-between;
        align-items: center;
        z-index: 99;
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        gap: 40px;
        justify-content: revert;

    }

    .gear-container {
        height: 60%;
    }

    .footer-logo{
        gap: 30px;
    }

    .main-logo{
        width: 40%;
    }

   

    .footer-nav ul{
        font-size: var(--font-large);
        grid-auto-columns: 1fr;
        gap: 30px;
        color: #000000;

    }

    .footer-nav ul li a{
        width: 100%;
        display: block;
    }
    .footer-nav ul li{
        border-bottom: 5px solid white;
        padding: 0.5em;
        background-color: #c1bbf582;;
    }

    .members{
        grid-auto-columns: 1fr;
    }

    .footer-social ul{
        justify-content: left;
        gap: 50px;
    }


}


@media screen and (max-width: 900px) {

    .footer-container{
        padding: 1em 2em;
    }

    .main-logo{
        width: 60%;
    }

    .footer-social ul{
        justify-content: left;
        gap: 25px;
    }

    .members{
        // grid-template-columns: max-content ;
        grid-auto-flow: row;
        grid-auto-rows: min-content max-content;
        grid-template-columns: min-content min-content min-content;
    }

    .logos{
        width: 80px;
        height: 80px;
    }

    .footer-social ul li{
        width: 50px;
        height: 50px;
    }
    .footer-social ul{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        grid-auto-flow: column;
        grid-template-rows: max-content max-content ;
        grid-template-columns: max-content max-content max-content ;
        grid-auto-columns: min-content;
        width: 100%;
    }
}
@media screen and (max-width: 900px) {

    .main-logo{
        width: 60%;
    }

    .members{
        // grid-template-columns: max-content max-content max-content max-content;
        grid-auto-flow: row;
        grid-auto-columns: min-content;
    }

    .logos{
        width: 80px;
        height: 80px;
    }

    .footer-social ul li{
        width: 50px;
        height: 50px;
    }
    .footer-social ul{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        grid-auto-flow: row;
        grid-template-rows: max-content max-content ;
        // grid-template-columns: max-content max-content max-content max-content max-content;
        grid-auto-columns: min-content;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .main-logo{
        width: 90%;
    }

    .members{
        // grid-template-columns: max-content ;
        grid-auto-flow: row;
        grid-auto-rows: min-content max-content;
        grid-template-columns: min-content  min-content;
    }
}