.wish-main{
    height: auto;
    // min-height: 70vh;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 50px;
    position: relative;
    perspective: 1000px;
    min-height: 600px;
    // transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.3s ease-in-out;
    @media screen and (max-width:1250px) {
        // min-height: auto;
        justify-content: center;
        grid-auto-columns: max-content;
        grid-auto-flow: dense;
        grid-auto-rows: 1fr;
        max-width: 500px;
        gap: 50px;
        padding: 1em;
    }
}

.wish-box{
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 16px 17px 0px 0px black;
    max-height: fit-content;
    perspective: 1000px;
    @media screen and (max-width:1250px) {
        max-width:450px;
        min-height: 550px;
    }

    @media screen and (max-width:600px) {
        max-width:300px;
        min-height: 400px;
    }
}

.wish-wrapper{
    // transition: box-shadow 0.3s ease-in-out;
    
    
    // perspective: 1000px;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.3s ease-in-out;
    transform: rotateY(-180deg);
    // width: 100%;
    transform: rotateY(0deg);
}


@media screen and (min-width:1250px) {
    

.wish-main .wish-box:hover .wish-wrapper{
    transform: rotateY(-180deg);
    // transition: box-shadow 0.3s;
    
}

/* Reduce box shadow during the flip */
.wish-main .wish-box {
    transition: box-shadow 0.3s ;
    animation: restoreShadow 0.6s forwards;
    // transform: rotateY(-180deg);
  }
  .wish-main .wish-box:not(:hover) {
    transition: box-shadow 0.3s ;
    animation: unHoverShadow 0.6s forwards;
  }

}



.wish-front, .wish-back{
    width: 100%;
    height: 100%;
    padding: 2em;
    grid-area: 1/1;
    backface-visibility: hidden;
    
    @media screen and (max-width: 1250px) {
        padding: 2em 2em;
    }
    @media screen and (max-width: 900px) {
        padding: 1em 1em 2em;
    }
}

.wish-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 5em;
    text-align: center;
    flex: 2;
    // margin-bottom: auto;
    @media screen and (max-width: 1250px) {
        // margin-top: 4em;
    }
}

// .wish-main .wish-wrapper .flip-button, .wish-main .wish-wrapper .flip-button:active {
//     // margin-top: auto;
// }


.wish-front{
    display: flex;
    flex-direction: column;
    transform: rotateY(0deg);
    background-color: #8CDE6380;
    justify-content: space-evenly;
}

.wish-front .wish-desc:last-child{
    font-size: var(--font-small);
    font-weight:400;
    margin: 0em 0 1.5em;
    @media screen and (max-width:1250px) {
        font-size: var(--font-small);
    }
    @media screen and (max-width:1199px) {
        font-size: var(--font-small);
    }
    @media screen and (max-width:900px) {
        font-size: var(--font-small);
    }
    @media screen and (max-width:600px) {
        font-size: var(--font-small);
    }
    @media screen and (max-width:400px) {
        font-size: var(--font-small);
    }
}

.wish-front.not{
    display: flex;
    flex-direction: column;
    transform: rotateY(0deg);
    background-color: #FCCCC8;
    justify-content: space-evenly;
}

.wish-head{
    font-size: var(--font-large);
    // text-decoration: underline;
    letter-spacing: 2px;
    font-family: "Euphorigenic";
    @media screen and (max-width:1250px) {
        font-size: var(--font-large);
    }
    @media screen and (max-width:900px) {
        font-size: var(--font-xlarge);
    }
}

.wish-desc, .wish-front.not .wish-desc{
    font-size: clamp(24px,2vw,30px);
    font-weight:500;
    margin: 0em 0 .5em;
    // flex: 1;
    // letter-spacing: 3px;
    @media screen and (max-width:1250px) {
        font-size: clamp(24px,2vw,30px);
    }
    @media screen and (max-width:900px) {
        font-size: var(--font-large);
    }
}

.wish-front.not .wish-desc{
    // letter-spacing: 2px;
    margin: auto 0 1.5em;
    
    // line-height: 1.5em;
}

.wish-front.not .wish-description{
    flex: 2;
    display: flex;
    // flex-direction: column;
    justify-content: end;
}

.wish-back{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    transform: rotateY(180deg);
    background-color: #8CDE6380;
}
.wish-back.not{
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotateY(180deg);
    background-color:  #FCCCC8;
}

.wish-list{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}
.wish-list ul{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: max-content max-content;
    // gap: 10px 50px;
    justify-content: space-around;
    align-items: center;
    // flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    row-gap: 5px;
    @media screen and (max-width:1250px) {
        // gap: 10px 10px;
    }
}
.wish-back.not .wish-list ul{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: max-content;
    // gap: 10px 50px;
    justify-content:start;
    align-items: center;
    // flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    row-gap: 5px;
    margin-left: 1rem;
    @media screen and (max-width:1250px) {
        // gap: 10px 10px;
    }
}
.wish-list ul li{
    // text-align: center;
    list-style-type: none;
    font-size: var(--font-small);
    font-weight: 700;
    // margin-bottom: 6px;
    // border: 2px solid black;
    // width: fit-content;
    // text-decoration: underline;
    list-style-type: square;
    // margin-left: 1em;
    // border-radius: 1em;
    // padding: .3em;
    @media screen and (max-width:1250px) {
        font-size: var(--font-small);
        margin-bottom: 0px;
    }
    @media screen and (max-width:1199px) {
        font-size: var(--font-medium);
        margin-bottom: 0px;
    }
    @media screen and (max-width:600px) {
        font-size: var(--font-small);
        margin-bottom: 0px;
    }
    @media screen and (max-width:400px) {
        font-size: var(--font-small);
        margin-bottom: 0px;
    }
}

.w-list-heading p{
    font-family: "Euphorigenic";
    // margin: auto;
    @media screen and (max-width:1250px){
        margin: 0;
        margin-bottom: auto;
    }
}
.w-list-heading{
    font-size: var(--font-large);
    font-weight: 700;
    // margin-bottom: 2em;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    // text-align: center;
    // margin-top: auto;
    // margin-bottom: auto;
    // align-items: center;
    flex-direction: column-reverse;
    // flex: 2;
    @media screen and (max-width:1250px) {
        font-size: var(--font-large);
        // margin-bottom: 0.5em;
    }
    @media screen and (max-width:800px) {
        font-size: var(--font-xlarge);
        // margin-bottom: 0.5em;
    }
}

// .wish-bottom p{
//     font-size: var(--font-medium);
//     font-weight: 400;
//     @media screen and (max-width:1250px) {
//         font-size: var(--font-medium);
//     }
// }

@keyframes restoreShadow {
    0%{
        box-shadow: 16px 17px 0px 0px black;
    }

    25%{
        box-shadow: 5px 6px 0px 0px black;
    }

    50%{
        box-shadow: 5px 6px 0px 0px rgba(0, 0, 0, 0.027);
    }

    75%{
        box-shadow: 5px 6px 0px 0px rgba(0, 0, 0, 0.411);
    }

    100%{
        box-shadow: 16px 17px 0px 0px black;
    }
  }
  @keyframes unHoverShadow {
    0%{
        box-shadow: 16px 17px 0px 0px black;
    }

    25%{
        box-shadow: 5px 6px 0px 0px black;
    }

    50%{
        box-shadow: 5px 6px 0px 0px rgba(0, 0, 0, 0.027);
    }

    75%{
        box-shadow: 5px 6px 0px 0px rgba(0, 0, 0, 0.411);
    }

    100%{
        box-shadow: 16px 17px 0px 0px black;
    }
  }

  .wish-main .wish-wrapper .flip-button{
    // font-size: var(--font-xSmall);
    // font-weight: 500;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1100px) {
        justify-content: space-evenly;
        padding: 10px 19px;
        background-color: #d54973e1;
        border-radius: 7px;
        box-shadow: 2px 3px 0px 0px black;
        // max-width: 300px;
    }
}

.wish-main .wish-wrapper .flip-text{
    font-size: var(--font-small);
    font-weight: 600;
    color: black;
    display: flex;
    // font-family: 'Euphorigenic', sans-serif;
    @media screen and (min-width: 1250px) {
        display: none;
    }
}

.wish-main .wish-wrapper .flip-img{
    height: min-content;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.wish-main .wish-wrapper .flip-icon{
    width: 100%;
}

// @media screen and (max-width: 1100px) {
//     .wish-main .wish-wrapper .flip-button:active{
//         transform: translate(2px, 3px);
//         box-shadow: 1px 1px 0px 0px black;
//     }
// }

.wish-main .wish-wrapper .flip-back{
    border: 1px solid rgba(213, 73, 115, 0.8823529412);
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: bisque;
    box-shadow: 1px 1px 0px 0px black;
    margin-left: auto;
    width: 36px;
    height: 36px;
    // margin-bottom: auto;
    // padding: 1px;
    @media screen and (min-width:1250px) {
        display: none;
    }

    @media screen and (max-width: 699px) {
        width: 18px;
        height: 18px;
    }
}
.wish-main .wish-wrapper .flip-back:active{
    box-shadow: 0px 0px 0px 0px black;
    border: 1px solid bisque;
    background-color: rgba(213, 73, 115, 0.8823529412);
}

.wish-wrapper.no-hover{

    @media screen and (min-width:1101px) {
        pointer-events: none;
    }
}

.wish-box.restore-shadow{
    transition: box-shadow 0.3s ;
    animation: restoreShadow 0.3s forwards ;
}
.wish-box.unhover-shadow{
    transition: box-shadow 0.3s ;
    animation: unHoverShadow 0.3s forwards;
}